.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo
*.swn
.*.un~
# Emacs and Vim-specific temporary or backup files
*~
.\#*
.#*
.emacs.desktop
.emacs.desktop.lock
Session.vim

__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.pyo
*.pyd
.venv/
venv/
pip-wheel-metadata/
*.pytest_cache

.env
.env.local
.env.*.local


instance/
*.sqlite3
*.db

*.log
*.tmp
*.temp
*.bak
~$*

node_modules/
bower_components/
package-lock.json
yarn.lock
pdm.lock
poetry.lock

*.map
/dist/
/build/

*.key
*.crt
*.pem
